.dragdrop {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  padding: 0 300px 0 300px;
  color: var(--gray);
  text-align: center;
  justify-content: center;
}

.dd-container {
  width: 40vw;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  height: 300px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 15px;
}

.dd-container.dragging {
  border-color: #999;
  cursor: grabbing;
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-image {
  max-width: 100%;
  max-height: 230px;
  border-radius: 8px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.scanBtn {
  border-radius: 50px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  margin: 10px;
  width: 240px;
  display: flex;
  justify-content: center;
}

.clearBtn,
.uploadBtn, .printBtn, .pasteBtn {
  color: var(--pinkL);
  background-color: var(--bg-color);
  border-radius: 50px;
  padding: 8px 28px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  transition: color 0.3s ease;
}

.printBtn, .pasteBtn, .clearBtn, .uploadBtn {
  border-radius: 50%;
  border: none;
  padding: 5px;
}

.uploadBtn:hover, .clearBtn:hover, .printBtn:hover, .pasteBtn:hover {
  color: var(--green);
}

.result-container {
  margin: 20px 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 60%;
}

.result-container h3 {
  font-weight: 600;
}

.result {
  font-size: 18px;
  margin: 10px 0 10px 0;
}

.result.pneumonia {
  color: #d9534f;
  font-size: 25px;
}

.result.normal {
  color: #5cb85c;
  font-size: 25px;
}

.detailed-result {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.detailed-result h4 {
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
  font-size: 18px;
}

.detailed-result p{
  font-weight: 600;
  font-size: 16px;
}

.detailed-result p strong{
  font-weight: 400;
}

.error-container {
  margin-top: 20px;
  color: #d9534f;
}

.loadingAnim {
  display: flex;
  flex-direction: column;
}

.loadingAnim p {
  font-weight: 500;
}

@media (max-width: 768px) {
  .dragdrop {
    padding: 0;
  }

  .dd-container {
    width: 70vw;
    height: 40vh;
  }

  .dd-container p {
    font-size: 12px;
  }

  .scanBtn {
    padding: 10px 20px;
    width: auto;
  }

  .result-container {
    width: 75vw;
  }

  .result.normal, .result.pneumonia {
    font-size: 5vw;
}

.result-container h3, .detailed-result h4 {
  font-weight: 600;
  font-size: 4vw;
}


}